

.reg{
    width: 100%;
    height: 30px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    float: left;
   margin-bottom: 100px;
}


.sig{
    display: flex;
    float: right;
}

.head{
    width: 100%;
    height: 120px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.logo{
    display: flex;
    float: left;
}
.logo img{
    margin-left: 120px;

}

.contact{
    float: right;
    margin-right: 200px;
    color: gray;
}

.nav{
    padding-top: 80px;
    margin-left: 120px;
    padding-bottom: 50px;
}

.nav ul li{
    display: flex;
    float: left;
    margin-left: 50px;
}
.nav a{
    width: 120px;
    height: 30px;
    background-color: aqua;
    text-decoration: none;
    text-align: center;
}
.regForm{
    width: 100%;
    height: 250px;
}

.headLine{
    display: block;
    float: left;
    width: 30%;
    margin-left: 100px;
}

.regDetail{
    display: block;
    float: right;
    width: 380px;
    height: auto;
    margin-right: 250px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.msgInfo{
    width: 100%;
    height: 150px;
    border: 1px solid;
}

.msg{
    display: block;
    float: left;
    width: 60%;
    margin-left: 100px;
    text-align:justify;
}

.box{
    float: right;
    width: 20%;
    margin-top: 60px;
    margin-right: 100px;
}

.adInfo{
    width: 100%;
    height: 250px;
    border: 1px solid;
    
}

.machinImg{
    display: inline;
    float: left;
    width: 35%;
    margin-left: 100px;
    
}

.ad{
    display: block;
    float: right;
    width: 35%;
    margin-right: 240px;
    text-align: justify;
}

.imgInfo{
    width: 100%;
    height: 400px;
    border:  1px solid;
    display: inline-block;
}
.image1{
    display: inline;
    float: left;
}
.image1 img{
    width: 250px;
    margin-left: 100px;
}
.image1 p{
    margin-left: 100px;
    width: 250px;
}

.image2{
    display: inline;
    float: left;
}
.image2 img{
    width: 250px;
    margin-left: 100px;
}
.image2 p{
    margin-left: 100px;
    width: 250px;
}

.image3{
    display: inline;
    float: left;
    margin-left: 50px;

}
.image3 img{
    width: 250px;
    margin-left: 100px;
}
.image3 p{
    margin-left: 100px;
    width: 250px;
}
.btnLm{
    display: block;
    margin-top: 250px;
    margin-left: 40%;
}

.detailInfo{
    width: 100%;
    height: 200px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
}
.help{
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    margin-left: 100px;

}
.product{
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    margin-left: 50px;
}
.company{
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    margin-left: 50px;
}